@import './loading.css';
@import './background.css';
* {
  box-sizing: border-box;
}
:root {
  --split-point-percentage: 50%;
}

#fileselect {
  color: white;
}

#root {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 2em);
  padding: 2em;
  height: 100%;
}
body {
  /* background-color: #222; */
  margin: 0;
  padding: 0;
}

#imagebox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  width: max-content;
  height: max-content;
}

#input_canvas {
  clip-path: inset(0 var(--split-point-percentage) 0 0);
  grid-area: 1 / 1;
}

#compressed_image {
  grid-area: 1 / 1;
}

#quality_separator {
  position: absolute;
  top: 0;
  background-color: rgb(22, 21, 21);
  width: 5px;
  height: 100%;
  cursor: col-resize;
  visibility: hidden;
  transform: translateX(var(--split-point));
  display: flex;
}

#quality_separator #quality_separator_icon {
  visibility: hidden;
}

#quality_separator.visible {
  visibility: visible;
}
#quality_separator.visible #quality_separator_icon {
  visibility: visible;
}

#input_canvas,
#compressed_image {
  max-width: 80vw;
  max-height: 80vh;
}
#quality_separator_icon {
  align-items: center;
  width: 50px;
  height: max-content;
  position: absolute;
  top: 50%;
  left: -23.5px;
  fill: rgb(9, 115, 228);
}

.hidden {
  display: none;
}
